
/*home page css*/
.home_head{
  color: blue;
  font-size: 50px;
}

.bg{
background:url(./assets/images/andrea-enriquez-cousino-3278-unsplash.jpg);
height: 100vh; 

/* Center and scale the image nicely */
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
.boards-home{
  background: white;
    padding: 50px;
    margin: 50px;
    text-align: center;
}